*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: darkslategray;
    
}

nav{
    text-align: right;
    font-size: large;
}
li {
    display:inline-block;
    margin-left: 30px;
    
}
.aboutme{
    background-color: lightsteelblue;
    border:10px solid rgb(0, 28, 128);
}


