*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: darkslategray;
    
}

nav{
    text-align: right;
    font-size: large;
}
li {
    display:inline-block;
    margin-left: 30px;
    
}
.aboutme {
    
    border: 5px solid rgb(0, 28, 128);
}

.cards {
    display: flex;
    flex: wrap;
}

.card {
    margin-left: 40px;
}

.container{
    border: 5px solid rgb(0, 28, 128);
    margin-top: 10px;
}
    
