*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: darkslategray;
    
}

nav{
    text-align: right;
    font-size: large;
}
li {
    display:inline-block;
    margin-left: 30px;
    
}
.aboutme {
    
    border: 5px solid rgb(0, 28, 128);
}

.cards {
    display: flex;
    flex-direction: row;
    flex: wrap;
    align-items: center;
    width: 500px;
}  

.card {
    margin-left: 40px;
    border:3px solid green;
}


footer {
    margin-top: 50px;
}

.footerinfo {
    text-align: center;
}

.footerheader {
    text-align: center;
}
